<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Screen Views"></ion-back-button>
    </ion-buttons>
    <ion-title>Tab</ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="first-tab" id="first-tab">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="second-tab" id="second-tab">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="third-tab" id="third-tab">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>