<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Showcases"></ion-back-button>
    </ion-buttons>
    <ion-title>Screen Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item type="button" (click)="goToPage('screen-default')">
      <h2>Default Screen</h2>
    </ion-item>
    <ion-item type="button" (click)="goToPage('screen-modal')">
      <h2>Modal Screen</h2>
    </ion-item>
    <ion-item type="button" (click)="goToPage('screen-slide')">
      <h2>Slide Screens</h2>
    </ion-item>
  </ion-list>
</ion-content>
